meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
meta(name="format-detection", content="telephone=yes")
meta(property="og:image", content="img/demo.jpg")
meta(property="og:title", content="Demo jade example")
meta(property="og:description" content="Demo jade example")
meta(name="keywords", content="")
meta(name="author", content="")
meta(name="description", content="")
